.link {
  display: flex;
  margin-left: auto;
  @media screen and (max-width: 1199px) {
    margin-left: 84px;
  }
}

.link__item {
  display: block;
  list-style: none;
  &:last-child {
    margin-right: 0;
    @media screen and (max-width: 1199px) {
     margin-bottom: 10px;
   }
     @media screen and (min-width: 1200px) {
       margin-right: 30px;
     }
  }
}
.link__email {
  display: block;
  color: var(--theme-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  &:hover, &:focus {
    color: var(--theme-button);
    fill: var(--theme-button);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.link__tel {
  color: var(--theme-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover, &:focus {
    color: var(--theme-button);
    fill: var(--theme-button);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
  }
}
.link__icon {
  margin-right: 10px;
  fill: currentColor;
}