.partners {
  display: flex;
  justify-content: center;
}

.partners__list {
  list-style: none;
  margin-right: 30px;
  &:last-child {
   margin-right: 0px;
 }
}
.partners__item {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--theme-social);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  fill: var(--theme-social);
  &:hover, &:focus {
    border: 1px solid var(--theme-button);
    fill: var(--theme-button);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, fill;
  }
}