:root {
  --theme-accent: #ffffff;
  --theme-text-accent: #212121;
  --theme-text: #757575;
  --theme-button: #2196F3;
  --theme-bgr: #E5E5E5;
  --theme-button-other: #F5F4FA;
  --theme-bgr-field: #2F303A;
  --theme-adress-link: rgba(255, 255, 255, 0.6);
  --theme-social: #AFB1B8;
  --theme-bgr-about: #C4C4C4;
  --theme-header: #ECECEC;
}